[Unit]
Description= Aurora 810 FPGA driver
Before=syncd.service

[Service]
User=root
ExecStartPre=/sbin/depmod -a
ExecStart=/sbin/modprobe -a nb_platform nb_ports_ioctl nb_leds_ioctl nb_ports_sysfs i2c-nct6775
ExecStartPost=/usr/sbin/i2c_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

